<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{_layout :: layout(${'Home • Sudarê Sushi'}, 'home', ~{::content})}">

<section th:fragment="content">
    
    <div class="form-row">
        <a class="btn" th:href="@{/pedidos/novo}">Abrir Novo Pedido</a>
    </div>

    <h2 class="section-title mt-22">Últimos pedidos</h2>
    
    <div class="table-wrap">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Cliente</th>
                    <th>Itens</th>
                    <th>Valor</th>
                    <th>Status</th>
                    <th>Atualizado</th>
                    <th>Ações</th> 
                </tr>
            </thead>
            <tbody>
                <tr th:each="p : ${ultimosPedidos}">
                    <td th:text="${p.id}">0</td>
                    <td th:text="${p.cliente.nome}">Cliente</td>
                    <td th:text="${#lists.size(p.itens)}">0</td>
                    <td th:text="${'R$ ' + #numbers.formatDecimal(p.total,1,'POINT',2,'COMMA')}">R$ 0,00</td>
                    <td>
                        <span class="badge"
                              th:classappend="${p.status.name()=='EM_PREPARO'}? ' badge-warning' : (${p.status.name()=='CONCLUIDO'}? ' badge-success':'')"
                              th:text="${p.status}">STATUS</span>
                    </td>
                    <td th:text="${#temporals.format(p.criadoEm, 'dd/MM HH:mm')}">agora</td>
                    
                    <td>
                        <a th:href="@{/pedidos/editar/{id}(id=${p.id})}" class="btn btn-sm">
                            Editar
                        </a>
                    </td>
                </tr>
                
                <tr th:if="${#lists.isEmpty(ultimosPedidos)}">
                    <td colspan="7" style="text-align: center;">Sem pedidos recentes.</td>
                </tr>
            </tbody>
        </table>
    </div>

    </section>
</html>